:root{
    --main-color:#2386C8;
}
img{
    max-width: 100%;
}
nav div a,nav div ul li a{
    color: var(--main-color) !important;
    font-weight: bold;
}
nav div ul li a:hover{
    border: 1px solid #eee;
    border-radius: 5px;
    color: #eee !important;
    background-color:var(--main-color) ;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}